/* 모든 요소의 기본 여백 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    border: 1px solid black;
    width: 300px;
    height: 450px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(to right, #feffff, #80898b, #b4c6cd);
}

.display {
    width: 240px;
    height: 100px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    border-radius: 20px;
    background-color: aliceblue;
    background: linear-gradient(to right, #b7c0c4, #c7d5d9, #d0d8db);
    font-size: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 242px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    }

.title-button{
    margin: 5px 0 0 5px;
    margin-right: 170px;
}

.title-button button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
    
.minimize{
    background-color: #3e6a7d
}
    .maximize{
    background-color: #6ba6c0
}
    .close{
    background-color: #2c5364 
}

.button {
    width: 50px;
    height: 40px;
    margin: auto;
    border-radius: 20%;
    color: white;
    background: linear-gradient(to right, #021d28, #c7d5d9, #2c5364);
    border-color: linear-gradient(to right, #021d28, #c7d5d9, #2c5364);
}

.button.operator {
    background: linear-gradient(to right, #0f2027, #2d90b1, #2c5364);
    border-color: linear-gradient(to right, #0f2027, #2d90b1, #2c5364);
    border-style: groove;
}
.button.function {
    background: linear-gradient(to right, #0f2027, #2d90b1, #2c5364);
    border-color: linear-gradient(to right, #0f2027, #2d90b1, #2c5364);
    border-style: groove;
}
.zero {
    width: 120px;
    height: 50px;
}